<li class="list-group-item"><%= menu.name %>
  <%= link_to "Details", "#", remote: true %>

  <div id="hiddenshit" class="hidden">
    <%= render 'item_form', :item => Item.new %>
    <%= render 'item_list', :item => Item.new, :menu => menu %>
  </div>

</li>
